## 2. Cleaning the Dataset

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

First I load the dataset and drop the 'Name' column:

In [3]:
# Load dataset
df = pd.read_csv(r'datasets\player_dataset.csv')

# Drop name column
df.drop('Name', axis=1, inplace=True)

df.head()

,Rating,Position,Version,Price,Skills,Weak Foot,Work Rate (Attack \ Defense),Pace,Shooting,Passing,Dribbling,Defending,Physicality,Height,Popularity,Base Stats,In Game Stats,Team,Nation,League
0,98,"CAM\nCF,ST",Icon\n\n\r\n ...,4.02M \n\n\n ...,5,4,H \ M,95,96,93,96,60,76,"173cm | 5'8""\n Unique (70kg)",3692,516,2513,FUT ICONS,Brazil,Icons
1,98,RW\nRM,TOTY\n\n\r\n ...,5M \n\n\n ...,4,4,H \ L,93,98,97,99,40,77,"169cm | 5'7""\n Messi (67kg)",5338,504,2469,Paris SG,Argentina,Ligue 1
2,97,CF\nST,TOTY\n\n\r\n ...,2.31M \n\n\n ...,4,5,H \ M,92,97,90,94,45,90,"185cm | 6'1""\n Average (81kg)",4291,508,2449,Real Madrid,France,LaLiga Santander
3,97,"ST\nCF,LW",TOTY\n\n\r\n ...,11.2M \n\n\n ...,5,4,H \ L,99,96,88,98,44,87,"182cm | 6'0""\n Unique (73kg)",3394,512,2455,Paris SG,France,Ligue 1
4,97,CM\nCAM,TOTY\n\n\r\n ...,2.58M \n\n\n ...,4,5,H \ H,85,94,98,94,81,86,"181cm | 5'11""\n Unique (70kg)",2212,538,2593,Manchester City,Belgium,Premier League

Next I change extract all of a player's positions and encode these values in additional columns:

In [ ]:
# Change '/n' to commas
df['Position'] = df['Position'].apply(lambda x: ','.join(x.split()))
df['Position'].head()

0    CAM,CF,ST
1        RW,RM
2        CF,ST
3     ST,CF,LW
4       CM,CAM
Name: Position, dtype: object

In [ ]:
# Code to extract a list of all unique positions
position_list = df['Position'].value_counts().index.values
nested_positions = [value.split(',') for value in position_list]
unique_positions = list(set([pos for sublist in nested_positions for pos in sublist]))
print(unique_positions)

['CB', 'RW', 'LW', 'RWB', 'LWB', 'CM', 'LB', 'GK', 'CAM', 'CF', 'CDM', 'LM', 'RB', 'RM', 'ST']

In [ ]:
# We will save this as a csv file as we will need them later
pos_df = pd.DataFrame(unique_positions)
pos_df.to_csv(r'datasets\unique_positions.csv', index=False)

In [ ]:
# Add additional columns for each position
for position in unique_positions:
    df[position] = 0
df.head()

,Rating,Position,Version,Price,Skills,Weak Foot,Work Rate (Attack \ Defense),Pace,Shooting,Passing,...,CM,LB,GK,CAM,CF,CDM,LM,RB,RM,ST
0,98,"CAM,CF,ST",Icon\n\n\r\n ...,4.02M \n\n\n ...,5,4,H \ M,95,96,93,...,0,0,0,0,0,0,0,0,0,0
1,98,"RW,RM",TOTY\n\n\r\n ...,5M \n\n\n ...,4,4,H \ L,93,98,97,...,0,0,0,0,0,0,0,0,0,0
2,97,"CF,ST",TOTY\n\n\r\n ...,2.31M \n\n\n ...,4,5,H \ M,92,97,90,...,0,0,0,0,0,0,0,0,0,0
3,97,"ST,CF,LW",TOTY\n\n\r\n ...,11.2M \n\n\n ...,5,4,H \ L,99,96,88,...,0,0,0,0,0,0,0,0,0,0
4,97,"CM,CAM",TOTY\n\n\r\n ...,2.58M \n\n\n ...,4,5,H \ H,85,94,98,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Populate the additional columns with ones if the player plays in that position
for i, entry in enumerate(df['Position']):
    positions = entry.split(',')
    for pos in positions:
        df.loc[i, pos] = 1

df.drop('Position', axis=1, inplace=True)
df.head()

,Rating,Version,Price,Skills,Weak Foot,Work Rate (Attack \ Defense),Pace,Shooting,Passing,Dribbling,...,CM,LB,GK,CAM,CF,CDM,LM,RB,RM,ST
0,98,Icon\n\n\r\n ...,4.02M \n\n\n ...,5,4,H \ M,95,96,93,96,...,0,0,0,1,1,0,0,0,0,1
1,98,TOTY\n\n\r\n ...,5M \n\n\n ...,4,4,H \ L,93,98,97,99,...,0,0,0,0,0,0,0,0,1,0
2,97,TOTY\n\n\r\n ...,2.31M \n\n\n ...,4,5,H \ M,92,97,90,94,...,0,0,0,0,1,0,0,0,0,1
3,97,TOTY\n\n\r\n ...,11.2M \n\n\n ...,5,4,H \ L,99,96,88,98,...,0,0,0,0,1,0,0,0,0,1
4,97,TOTY\n\n\r\n ...,2.58M \n\n\n ...,4,5,H \ H,85,94,98,94,...,1,0,0,1,0,0,0,0,0,0

Next I will remove '\n' from the Version column and split the two values into new columns:

In [ ]:
' '.join(df.loc[3000, 'Version'].split()[0:-1])

'World Cup Player'

In [ ]:
df['Card Type'] = df['Version'].apply(lambda x: ' '.join(x.split()[0:-1]))
df['Acceleration Type'] = df['Version'].apply(lambda x: x.split()[-1])
df.drop('Version', axis=1, inplace=True)

Next I will clean the Price column by removing '/n' and converting to floats:

In [ ]:
# Remove '\n' and extract price
df['Price'] = df['Price'].apply(lambda x: x.split()[0])

In [ ]:
# Funcction to convert string to float
def convert_string_to_number(value):
    if value[-1] == 'M':
        return float(value[:-1]) * 1000000
    elif value[-1] == 'K':
        return float(value[:-1]) * 1000
    else:
        return float(value)

# Apply function on Price column
df['Price'] = df['Price'].apply(convert_string_to_number)
df.head()

,Rating,Price,Skills,Weak Foot,Work Rate (Attack \ Defense),Pace,Shooting,Passing,Dribbling,Defending,...,GK,CAM,CF,CDM,LM,RB,RM,ST,Card Type,Acceleration Type
0,98,4020000.0,5,4,H \ M,95,96,93,96,60,...,0,1,1,0,0,0,0,1,Icon,Explosive
1,98,5000000.0,4,4,H \ L,93,98,97,99,40,...,0,0,0,0,0,0,1,0,TOTY,Controlled
2,97,2310000.0,4,5,H \ M,92,97,90,94,45,...,0,0,1,0,0,0,0,1,TOTY,Controlled
3,97,11200000.0,5,4,H \ L,99,96,88,98,44,...,0,0,1,0,0,0,0,1,TOTY,Controlled
4,97,2580000.0,4,5,H \ H,85,94,98,94,81,...,0,1,0,0,0,0,0,0,TOTY,Controlled

Next I will create two new columns from the Work Rate column:

In [ ]:
# Create the new columns and drop the original
df['Work Rate (Attack)'] = df['Work Rate (Attack \ Defense)'].str.split().str[0]
df['Work Rate (Defense)'] = df['Work Rate (Attack \ Defense)'].str.split().str[2]
df.drop('Work Rate (Attack \ Defense)', axis=1, inplace=True)
df.head()

,Rating,Price,Skills,Weak Foot,Pace,Shooting,Passing,Dribbling,Defending,Physicality,...,CF,CDM,LM,RB,RM,ST,Card Type,Acceleration Type,Work Rate (Attack),Work Rate (Defense)
0,98,4020000.0,5,4,95,96,93,96,60,76,...,1,0,0,0,0,1,Icon,Explosive,H,M
1,98,5000000.0,4,4,93,98,97,99,40,77,...,0,0,0,0,1,0,TOTY,Controlled,H,L
2,97,2310000.0,4,5,92,97,90,94,45,90,...,1,0,0,0,0,1,TOTY,Controlled,H,M
3,97,11200000.0,5,4,99,96,88,98,44,87,...,1,0,0,0,0,1,TOTY,Controlled,H,L
4,97,2580000.0,4,5,85,94,98,94,81,86,...,0,0,0,0,0,0,TOTY,Controlled,H,H

Next I will extract the Height and Weight columns and convert to integers

In [ ]:
df['Height (cm)'] = df['Height'].str.split().str[0].str[:-2]
df['Height (cm)'] = df['Height (cm)'].apply(lambda x: int(x) if pd.notnull(x) else np.nan)
df['Height (cm)'] = df['Height (cm)'].fillna(df['Height (cm)'].mean())

df['Weight (kg)'] = df['Height'].str.split().str[4].str[1:-3]
df['Weight (kg)'] = df['Weight (kg)'].apply(lambda x: int(x) if pd.notnull(x) and x != '' else np.nan)
df['Weight (kg)'] = df['Weight (kg)'].fillna(df['Weight (kg)'].mean())

df.drop('Height', axis=1, inplace=True)

We can ensure that all values are of the same case type by making every string value lowecase:

In [ ]:
df = df.applymap(lambda x: x.lower() if type(x)==str else x)
df.head()

,Rating,Price,Skills,Weak Foot,Pace,Shooting,Passing,Dribbling,Defending,Physicality,...,LM,RB,RM,ST,Card Type,Acceleration Type,Work Rate (Attack),Work Rate (Defense),Height (cm),Weight (kg)
0,98,4020000.0,5,4,95,96,93,96,60,76,...,0,0,0,1,icon,explosive,h,m,173.0,70.0
1,98,5000000.0,4,4,93,98,97,99,40,77,...,0,0,1,0,toty,controlled,h,l,169.0,67.0
2,97,2310000.0,4,5,92,97,90,94,45,90,...,0,0,0,1,toty,controlled,h,m,185.0,81.0
3,97,11200000.0,5,4,99,96,88,98,44,87,...,0,0,0,1,toty,controlled,h,l,182.0,73.0
4,97,2580000.0,4,5,85,94,98,94,81,86,...,0,0,0,0,toty,controlled,h,h,181.0,70.0

Finally, we can remove any entries that have zero value as we are only interested in predicting players that are for sale in the marketplace:

In [ ]:
# Show the number of players with zero value
print('Number of rows:', df.shape[0])
print('Number of rows where Price equals 0:', (df['Price'] == 0).sum())

Number of rows: 20877
Number of rows where Price equals 0: 1718

In [ ]:
# Remobe players with zero value
df = df[df['Price'] != 0]

In [ ]:
# Re-run code to ensure values are removed
print('Number of rows:', df.shape[0])
print('Number of rows where Price equals 0:', (df['Price'] == 0).sum())

Number of rows: 19159
Number of rows where Price equals 0: 0

In [ ]:
df.to_csv(r'datasets\player_dataset_clean.csv', index=False)